<header>
  <h1>This is a simple todo-list application</h1>
  <div id="navigation-links-container">
    {{#link-to 'index'}}Home{{/link-to}}
    {{#link-to 'tasks'}}Tasks{{/link-to}}
  </div>
</header>

<div id="content">{{outlet}}</div>

<footer>
  Something in footer
</footer>